body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	font-size: 3vw;
	color: #000;
	background: #FFF
}
a{
	color: #000;
	text-decoration: none;
}
ul,ol {
	list-style: none;
}
img {
	vertical-align: top;
}
input,textarea{
	outline: none;
	border: none;
}